<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Döner Pizza</title>
    <link rel="shortcut icon" type="image/png" href="../../../static/images/member/pizzaQ.png" />

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../../../static/front/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../../static/front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../../static/front/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../../static/front/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/front/css/delivery/deliverystyle.css">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    .fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
        /* 確保導覽列在其他元素之上 */
    }
</style>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">

        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <div class="container-fluid bg-white fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <a href="/member/MemberIndex" class="navbar-brand">
                    <img class="img-fluid" src="../../../static/images/indexImages/DonerPizzaLogo.png" alt="Logo">
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/product/product.front" class="nav-item nav-link active">產品</a>
                        <a href="/promotions/promotionsFront" class="nav-item nav-link">活動優惠</a>
                        <a href="/reservation/customerreservemain.controller" class="nav-item nav-link">訂位趣</a>
                        <a href="/delivery" class="nav-item nav-link">線上點餐</a>
						<div class="nav-item dropdown">
					    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">關於</a>
						<div class="dropdown-menu bg-light rounded-0 m-0">
						<a href="#" class="dropdown-item">特色</a>
                        <a href="#" class="dropdown-item">部落格</a>
                        <a href="#"	class="dropdown-item">公司簡介</a>
                        <a href="#" class="dropdown-item">分店資訊</a>
					    </div>
					</div>
                </div>
                <div class="border-start ps-4 d-none d-lg-block nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <img th:src="@{${member.detailBean.mPhoto}}" alt="" width="35" height="35"
                                class="rounded-circle">
                            <span th:text="${member.detailBean.mName}"></span>
                        </a>
                        <div class="dropdown-menu bg-light rounded-0 m-0">
                            <a href="/member/MemberAboutMe" class="dropdown-item"> <i class="ti ti-user fs-6"></i>
                                <p class="mb-0 dropdown-item ">會員中心</p>
                            </a> <a href="#" class="dropdown-item"> <i class="ti ti-mail fs-6"></i>
                                <p class="mb-0 dropdown-item">訂單查詢</p>
                            </a> <a href="#" class="dropdown-item"> <i class="ti ti-list-check fs-6"></i>
                                <p class="mb-0 dropdown-item">優惠券</p>
                            </a> 
							<hr>
							<a href="/member/logout"
                                class="btn btn-outline-primary d-block dropdown-item">登出</a>
                        </div>
                    </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Article Start -->
    <div class="container-xxl py-5 justify-content-center">
        <div class="container justify-content-center">
            <div class="row g-5 justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <h2>請先選擇日期</h2>
                    <input class="mt-5" type="date" id="date" name="trip-start" min="2018-01-01" max="2100-12-31" />
                    <h2>請選擇取餐方式</h2>
                    <div class="container">
                        <div class="justify-content-center mt-5">
                            <div class="d-flex flex-column align-items-center">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" id="Takeaway" style="width: 234px; height: 76px;"
                                        class="btn btn-outline-primary">外帶</button>
                                    <button type="button" id="delivery" class="btn btn-outline-primary mr-2"
                                        style="width: 234px; height: 76px;">外送</button>
                                    <button type="button" id="Attractions" class="btn btn-outline-primary"
                                        style="width: 234px; height: 76px;">景點直送</button>
                                    <select id="Attraction1" class="form-select form-select-sm "
                                        aria-label="Small select example">
                                        <option selected>請選擇景點</option>
                                        <option value="桃園市中壢區中北路200號">中原大學</option>
                                        <option value="桃園市中壢區健行路229號">健行科技大學</option>
                                        <option value="桃園市中壢區中和路139號">中壢火車站</option>
                                        <option value="桃園市中壢區中華路一段267號">內壢火車站</option>
                                        <option value="桃園市中壢區中山東路二段510號">家樂福 中壢店</option>
                                        <option value="桃園市中壢區中華路一段450號">家樂福 內壢店</option>
                                        <option value="桃園市中壢區遠東路135號">元智大學</option>
                                    </select>
                                    <button id="Attraction2" class="btn btn-primary">確定</button>
                                </div>
                                <br>
                                <h2 id="deliveryaddress" class="text-center">輸入外送地址</h2>
                                <div class="input-group mt-3">
                                    <div>
                                    </div>
                                    <br>
                                    <div id="enter" class="input-group-text">自行輸入地址*</div>
                                    <input type="text" aria-label="Last name" id="catchbar" class="form-control"
                                        placeholder="请輸入外送地址">
                                    <button id="submit" class="btn btn-primary">確定</button>
                                </div>
                                <h2 id="point">確認外送景點</h2>
                                <div style="height: 342px;">
                                    <div class="text-center mt-6">
                                        <div id="iframe1">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.256463818154!2d121.23820147367306!3d24.957387541375393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468221447a0f021%3A0x2b86d2650bb8bcff!2z5Lit5Y6f5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1714618377967!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div id="iframe2">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.555785535697!2d121.22654517367268!3d24.947198441784487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468224f87c71751%3A0x6c3205000735ed1d!2z5YGl6KGM56eR5oqA5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1714619132073!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div id="iframe3">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14469.462824194185!2d121.20713658626295!3d24.953669318369634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346823f620af7c8b%3A0xb2ea3ac8ba632176!2z5Lit5aOi54Gr6LuK56uZ!5e0!3m2!1szh-TW!2stw!4v1714621334190!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div id="iframe4">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.802670190146!2d121.25567347367371!3d24.97282754075522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346821ff2247e46d%3A0x629926233052db00!2z5YWn5aOi54Gr6LuK56uZ!5e0!3m2!1szh-TW!2stw!4v1714621369010!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div id="iframe5">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.55891941995!2d121.24213877367265!3d24.94709174178881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346822695ba82b0d%3A0xa64bad4fe99d1b89!2z5a625qiC56aPIOS4reWjouW6lw!5e0!3m2!1szh-TW!2stw!4v1714623400444!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div id="iframe6">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.8143504390578!2d121.25110247367361!3d24.97243024077114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346821f8791fe543%3A0x66a64f7a04ad5200!2z5a625qiC56aPIOWFp-WjouW6lw!5e0!3m2!1szh-TW!2stw!4v1714623526141!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <div id="iframe7">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.876323700467!2d121.26086727367353!3d24.970322140855902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681f5490d43fcd%3A0x186eb5a7e52b332b!2z5YWD5pm65aSn5a24!5e0!3m2!1szh-TW!2stw!4v1714623641605!5m2!1szh-TW!2stw"
                                                width="480" height="390" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                        <br>
                                        <button id="test1" class="btn btn-outline-primary">一鍵輸入</button>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Article End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">聯絡資訊</h4>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt text-primary me-3"></i>320桃園市中壢區大仁街51號1F
                    </p>
                    <p class="mb-2">
                        <i class="fa fa-phone-alt text-primary me-3"></i>0966 464 603
                    </p>
                    <p class="mb-2">
                        <i class="fa fa-envelope text-primary me-3"></i>kebabtaiwan@gmail.com
                    </p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i
                                class="fab fa-twitter"></i></a> <a
                            class="btn btn-square btn-primary rounded-circle me-2"
                            href="https://www.facebook.com/donerzhongli/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i
                                class="fab fa-youtube"></i></a> <a
                            class="btn btn-square btn-primary rounded-circle me-2" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">快速連結</h4>
                    <a class="btn btn-link" href="">關於我們</a> <a class="btn btn-link" href="">聯絡我們</a> <a
                        class="btn btn-link" href="">我們的服務</a> <a class="btn btn-link" href="">條款與協議</a> <a
                        class="btn btn-link" href="">支援</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">營業 時間</h4>
                    <p class="mb-1">禮拜一 到 禮拜五</p>
                    <h6 class="text-light">11:00 am - 9:00 pm</h6>
                    <p class="mb-1">禮拜六 禮拜日</p>
                    <h6 class="text-light">11:00 am - 9:00 pm</h6>
                    <p class="mb-1">禮拜三</p>
                    <h6 class="text-light">休息</h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-4">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                            placeholder="Your email">
                        <button type="button"
                            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="fw-medium" href="https://www.ispan.com.tw/">資展國際股份有限公司</a>,
                    <a class="fw-medium" href="/member/emplogin">Döner Pizza德氏披薩</a>, All Right
                    Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    設計由 
                    <a class="fw-medium" href="https://htmlcodex.com">HTMLCodex</a>
                    發行由 
                    <a class="fw-medium" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    
     <!-- JavaScript Libraries -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
     <script src="../../../static/front/lib/wow/wow.min.js"></script>
     <script src="../../../static/front/lib/easing/easing.min.js"></script>
     <script src="../../../static/front/lib/waypoints/waypoints.min.js"></script>
     <script src="../../../static/front/lib/owlcarousel/owl.carousel.min.js"></script>
     <script src="../../../static/front/js/delivery/iframe.js"></script>
     <!-- Template Javascript -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
     <script src="../../../static/front/js/main.js"></script>
    
    <script>

    document.addEventListener("DOMContentLoaded", function () {
            const dateInput = document.getElementById('date');
            const today = new Date().toISOString().split('T')[0];
            dateInput.setAttribute('min', today);
        });

    
    //按下外送按钮顯示/隱藏地址输入框
 let deliveryVisible = false; 

$('#delivery').click(function() {
    let date = $('#date').val();
    if(date.length > 0) {
        if (!deliveryVisible) {
            $('#catch').show();
            $('#catchbar').show();
            $('#enter').show();
            $('#test1').show();
            $('#submit').show();
            $('#deliveryaddress').show();
            deliveryVisible = true;
        } else {
            $('#catch').hide();
            $('#catchbar').hide();
            $('#enter').hide();
            $('#test1').hide();
            $('#submit').hide();
            $('#deliveryaddress').hide();
            deliveryVisible = false;
        }
    } else {
        Swal.fire({
            icon: 'error',
            title: '錯誤',
            text: '請先選擇日期'
        });
    }
});
    
    // // 按下景點外送按钮顯示/隱藏
    // 按下景点按钮顯示/隱藏景点输入框
let attractionsVisible = false; 

$('#Attractions').click(function() {
    let date = $('#date').val();
    if(date.length > 0) {
        if (!attractionsVisible) {
            $('#point').show();
            $('#Attraction1').show();
            $('#Attraction2').show();
            attractionsVisible = true;
        } else {
            $('#point').hide();
            $('#Attraction1').hide();
            $('#Attraction2').hide();
            attractionsVisible = false;
        }
    } else {
        Swal.fire({
            icon: 'error',
            title: '錯誤',
            text: '日期不能為空'
        });
    }
});
    $('#submit').click(function () {
        let address = $('#catchbar').val();
        let date = $('#date').val();
        const matchesPattern = checkAddressFormat(address);
        
        let data = {
            address: address,
            date: date
        }
        if (address.length > 6) {
            if (matchesPattern) {
                $.ajax({
                    type: 'POST',
                    url: '/save',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        Swal.fire({
                            icon: 'success',
                            title: '成功',
                            text: '請點選餐點',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = '/order/deliveryOrder';
                            }
                        });
                    },
                });
            } else {
                console.log(matchesPattern);
                Swal.fire({
                    icon: 'error',
                    title: '格式錯誤',
                    text: '請輸入桃園市中壢區及路名。',
                });
            }
        } else {        
            Swal.fire({
                icon: 'warning',
                title: '輸入錯誤',
                text: '輸入地址太少。',
            });
        } 
    });

    

    function checkAddressFormat(inputString) {
    // const pattern = /桃園市中壢區/;
    // const pattern = '/u6843/u5712/u5e02/u4e2d/u58e2/u5340';
    const pattern = /\u6843\u5712\u5e02\u4e2d\u58e2\u5340/;
    return pattern.test(inputString);
    }
    console.log();
    $('#Takeaway').click(function () {
        window.location.href = '/order/pizzaOrder';
    })

    $('#test1').click(function () {
        $('#catchbar').val('桃園市中壢區新生路二段421號');
    })
       
    $('#Attraction2').click(function () {
    let address = $('#Attraction1').val();
    let date = $('#date').val()
    let data = {
        address: address,
        date: date
    }
    $.ajax({
        type: 'POST',
        url: '/save',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function (result) {
                        Swal.fire({
                            icon: 'success',
                            title: '成功',
                            text: '請點選餐點',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = '/order/deliveryOrder';
                    }
                });
            },
        });
})


</script>
</body>
</html>