body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;

}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

th {
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
}

.btn {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #cc0000;
}

.pimg {
    width: 12vw;
    height: 12vw;
}
